<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{url_for('static',filename = 'css/host.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>管理者</h1>

    <div class="home1">
        <div class="home2">
                <a href="{{url_for('quiz.quiz_list_all')}}">クイズ一覧</a><br>
                <a href="{{url_for('quiz.quiz_register')}}">クイズ登録</a><br>
                <a href="{{url_for('quiz.quiz_search_all')}}">クイズ検索</a><br>
                <a href="{{url_for('user.user_list')}}">ユーザー一覧</a><br>
    </div>
    <a href="{{url_for('logout')}}">ログアウト</a>
    </div>    
</body>
</html>