<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{url_for('static',filename = 'css/user_list.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>ユーザー一覧</h1>

    <table border=1>
        <tr>
            <th>名前</th>
            <th>メール</th>
        </tr>
        {% for u in user_list%}
        <tr>
            <td>{{ u[0]}}</td>
            <td>{{ u[1]}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{url_for('host_top')}}">トップへ</a>
</body>
</html>